* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.text-primary {
  color: #fd6e0a;
}
.btn {
  background-color: #fd6e0a;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  height: 64px;
  padding: 18px 35px;
  width: 150px;
}
.header {
  background-color: #fff8f3;
  background-image: url("/images/header_bg.png"), url("/images/developer.png");
  background-position: bottom right, left;
  background-repeat: no-repeat;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px; /* clockwise */
}
nav ul {
  align-items: center;
  display: flex;
}
nav li {
  list-style: none;
  margin: 0 25px;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
}
.banner .btn {
  width: 200px;
  padding: 20px 15px;
}
.banner {
  align-items: center;
  display: flex;
  margin: 0 200px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
}
.banner-sub-title {
  font-size: 45px;
  font-weight: 600;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}
main {
  margin: 0 auto;
  max-width: 1140px;
}
.about {
  background-color: #fff8f3;
  border-radius: 10px;
  margin: 130px 0;
  padding: 130px 150px;
  text-align: center;
}
.section-title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
}
.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-around; /* .about-info{margin: 0 auto;} */
}
.info-title {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
}
.info-description {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}
.what-i-do {
  margin-top: 130px;
}
.what-i-do .section-title {
  text-align: center;
}
.section-description {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  margin-bottom: 50px;
  text-align: center;
}
.skill img {
  margin-bottom: 20px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
  /* margin: 10px auto; */
}
.skill-description {
  color: #757575;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.resume {
  margin-top: 130px;
}
.resume .section-title {
  text-align: center;
  margin-bottom: 115px;
}
.resume-container {
  display: flex;
  gap: 24px;
  margin-bottom: 50px;
}
.resume .resume-title {
  font-weight: 700;
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}
.resume .title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.resume .sub-title {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}
.resume .description {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  margin-bottom: 30px;
}
hr {
  margin-bottom: 30px;
}
.resume-btn {
  text-align: center;
}
.resume-btn .btn {
  width: 200px;
  padding: 20px 15px;
  margin-bottom: 115px;
}
footer {
  display: flex;
  background: #fff8f3;
  justify-content: space-around;
  padding: 50px;
}
footer input,
textarea {
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding: 18px 30px;
}
input {
  height: 64px;
}
footer .section-description {
  margin-bottom: 50px;
}
