* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn {
  background-color: #fd6e0a;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  height: 64px;
  padding: 18px 35px;
  width: 150px;
}
.header {
  background-color: #fff8f3;
  background-image: url("/images/header_bg.png"), url("/images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px; /* clockwise */
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin: 0 25px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
.banner {
  margin: 0 200px;
  display: flex;
  align-items: center;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
}
.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
}
.banner-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}
main {
  max-width: 1140px;
  margin: 0 auto;
  background-color: #fff8f3;
}
.about {
  margin: 130px 0;
  text-align: center;
  padding: 130px 150px;
  border-radius: 10px;
}
.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 35px;
}
.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.info-title {
  font-weight: 400;
  font-size: 20px;
  color: #757575;
}
.info-description {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}
/* .about-info {
  margin: 0 auto;
} */
